*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
:root {
    --loto: #764A34;
  }

/* ___________________Header__________________ */
.loto_header{
    background-color: var(--loto) ;
    padding: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;

}
.logo_image{
    height: 70px;
    width: 300px;
}
.logo_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .loto_header nav{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
} */
.loto_header_person{
  border-radius: 3px;
}
.loto_header_person a{
    color: black;
    text-decoration: none;
}
/* .loto_header_person_img{
    width: 20px;
    height: 20px;
} */
.loto_header_price{
    position: relative;
    font-weight: 700;
    border-radius: 3px;
}
.loto_header_price::after{
    content: '+';
    position: absolute;
    right: 0;
    top: 0;
    width: 38px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cccccc;
}
.loto_header_price1{
    position: relative;
    font-weight: 700;
    border-radius: 4px;
}
.loto_header_price1 a{
    color: black;
    text-decoration: none;
}
.loto_header_price1::after{
    content: '+';
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--loto);
    color: white;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
/* __________________Login______________________ */
.home_page_bigdiv_login{
    height: calc(100vh - 100px);
    /* height: 1000px; */
    background-image: url('./img/old-wooden-lotto-barrels-game-cards.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    /* padding: 0px 200px; */
    /* align-items: center; */
}
.show{
    display: none;
}
.home_page_div_login{
    width: 400px;
    height: 400px;
   padding: 16px 15px;
   background-color: #FFFAEF;
   border-radius: 10px;
   color: var(--loto);
}
.home_page_div_login input{
    border: 2px solid var(--loto) !important;
    border-radius: 3px;
}

.home_page_bigdiv_login button{
    background-color: var(--loto);
    border: 1px solid var(--loto);
    border-radius: 3px;
    transition: 0.6s;
}
.home_page_bigdiv_login button:hover{
    background-color: transparent;
}
.home_page_bigdiv_login button:hover a{
   color: #764A34;
}
.home_page_bigdiv_login button a{
    color: white;
    text-decoration: none;
}
.home_page_div_login_check button a{
    color: white;
    text-decoration: none;

}
.home_page_div_login_check a{
    color: var(--loto);
    text-decoration: none;
}
.home_page_div_login_check button:hover{
    background-color: transparent;
}
.home_page_div_login_check button:hover a{
   color: var(--loto);
}
.home_page_div_login p a{
    color: var(--loto);
    text-decoration: none;
}
/* ____________________REgister________________ */
.home_page_bigdiv_register{
    /* height: calc(100vh - 100px); */
    /* height: 1000px; */
    background-image: url('./img/old-wooden-lotto-barrels-game-cards.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* align-items: center; */
}
.home_page_div_register{
    width: 400px;
    /* height: 400px; */
   padding: 16px 15px;
   background-color: #FFFAEF;
   border-radius: 10px;
   color: var(--loto);
}
.home_page_div_register input{
    border: 2px solid var(--loto) !important;
    border-radius: 3px;
}

.home_page_bigdiv_register button{
    background-color: var(--loto);
    border: 1px solid var(--loto);
    border-radius: 3px;
    transition: 0.6s;
}
.home_page_bigdiv_register button:hover{
    background-color: transparent;
}
.home_page_bigdiv_register button:hover a{
   color: #764A34;
}
.home_page_bigdiv_register button a{
    color: white;
    text-decoration: none;
}
.register_back{
    width: 400px;
}
.register_back a{
    color: white;
    text-decoration: none;
}
/* ____________________Footer_________________________ */
.loto_footer{
    background-color: var(--loto);
}
/* ___________________Recovery______________________ */
.recovery_bigdiv{
    height: calc(100vh - 110px);
    background-image: url('./img/tabletop-lotto-game-with-wooden-barrels-vintage-cards-play-home-with-friends-3\ 1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
.recovery_div{
    width: 360px;
   padding: 10px 15px;
   background-color: #FFFAEF;
   border-radius: 5px;
   color: var(--loto);
   display: flex;
   flex-direction: column;
   align-items: center;
}
.recovery_div input{
    border: 1px solid var(--loto);
}
.recovery_div button{
    background-color: var(--loto);
    border: 1px solid var(--loto);
    border-radius: 3px;
    transition: 0.6s;
}
.recovery_div button:hover{
    background-color: transparent;
}
.recovery_div button a{
    color: white;
    text-decoration: none;
}
.recovery_div button:hover a{
    color: var(--loto);
}
.recovery_div1{
   width: 360px;
   padding: 80px 0px;
   background-color: #FFFAEF;
   border-radius: 5px;
   color: var(--loto);
}
/* __________________________Carousel__________________________ */
.loto_carusel1{
    width: 100%;
    height: 300px;
}
.loto_carusel1 img{
    width: 100%;
    height: 100%;
}
/* _________________________Home_Page______________________ */
.loto_home_page_bigdiv{
    background-image: url('./img//wooden-textured-background\ 2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px 100px 350px 100px;
}

.loto_home_div{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
    /* padding: 20px 50px; */

}
.traj_div{
    width: 46%;
    background-color: #FFFAEF;
    border-radius: 10px;
   padding: 10px 0px;
}

.traj_div a{
    color: black;
    text-decoration: none;
}
.traj_price div{
    background-color: #FFEFCA;
}
.traj_info{
    padding: 0px 20px;
}
.traj_success{
    border-top: 2px solid var(--loto);
    padding: 0px 20px;
}
.traj_success_price ul li{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--loto);
    font-weight: 700;
    margin-right: 8px;
    background-color: #FFEFCA;

}
.traj_end_price{
    background-color: #FFEFCA;
    font-weight: 700;
}
.traj_time{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.traj_time button{
    background-color: #FFEFCA;
}
/* _______________________Account____________________________ */
.person_account_bigdiv{
    background-image: url('./img/tabletop-lotto-game-with-wooden-barrels-vintage-cards-play-home-with-friends-2\ 1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px 90px 100px 90px;
}
.person_account_switch{
    width: max-content;
    border-radius: 4px;
}
/* __________Refferal_______ */
.refferal_big_div{
    background-color: #FFFAEF;
    border-radius: 15px;
    padding: 0px 30px;
}

.refferal_big_div_form1,
.refferal_big_div_form2{
    width: 42%;
}
.refferal_big_div_form1 input,
.refferal_big_div_form2 input{
    border: 1px solid var(--loto);
    padding: 9px 8px;
}
.refferal_big_div_button button{
    background-color: var(--loto);
    border: 1px solid var(--loto);
    transition: 0.6s;
}
.refferal_big_div_button button a{
    color: white;
    text-decoration: none;
}
.refferal_big_div_button button:hover{
    background-color: transparent;
}
.refferal_big_div_button button:hover a{
    color: var(--loto);
}
/* __________person_account_menu___________ */
.person_account_menu button{
    width: 300px;
    max-width: 100%;
    border: 1px solid var(--loto);
    background-color: var(--loto);
    
}
.person_account_menu button a{
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}
.person_account_choose button{
    /* width: 100px;
    max-width: 100%; */
    /* padding: 10px; */
    width: 80px;
    border: 1px solid var(--loto);
    background-color: var(--loto);

}
.person_account_choose button a{
   color: white;
   text-decoration: none;

}

.person_account_choose input{
    /* width: 300px;
    max-width: 100%; */
    width: 300px;
    border: 1px solid var(--loto);

}
.person_account_price button{
    border: 1px solid var(--loto);
    border-radius: 20px;
    background-color: #FFFAEF;
    position: relative;
}
.person_account_price button::after{
    content: '+';
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 100%;
    background-color: var(--loto);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    font-size: 19px;

}
.person_account_price button a{
   color:black;
   text-decoration: none;
}
/* .person_account_price button::after{
    content: "+";
    clip-path: circle(56.8% at 86% 55%);
    background-color: #764A34;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
} */
/* ______________Balans___________ */
.balans_home_page_bigdiv{
    background-image: url('./img/wooden-barrels-with-numbers-percentages-black-background\ 1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px 40px 100px 40px;

}
.balans_home_page_buttons{
    width: 50%;
}
.balans_home_page_buttons button{
    width: 45%;
    max-width: 100%;
    padding: 10px 0px;
    background-color: var(--loto);
    border: 1px solid var(--loto);
  }
.balans_home_page_buttons button a{
    color: white;
    text-decoration: none;
}
.balans_div{
    width: 50%;
    background-color: #FFFAEF;
        border-radius: 10px;

}
.balans_price{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* justify-content: flex-end; */
    /* flex-direction: column; */
    width: 50%;
    /* border: 2px solid white; */
}
.balans_price div {
    background-color: #FFFAEF;
    width: 55%;

}
.balans_write button{
    border:1px solid  white;
    background-color: var(--loto);
    border-radius: 3px;

}
.balans_write button a{
    color: white;
    text-decoration: none;
}
/* _________________________Buyer_____________________________ */
.buyer_bigdiv{
    background-color: #FFFAEF;
    padding: 0px 100px;
}
.buyer_avto{
    border: 1px solid var(--loto);
    background-color: var(--loto);
    color: white;
}
.buyer_btns button,
.buyer_btns span{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--loto);
    border-radius: 3px;
    background-color: white;
    margin: 0px 7px;
    font-weight: 700;

}
.buyer_btn span{
    border: 1px solid var(--loto);
}
.buyer_btn button{
    width: 90px;
    border: 1px solid var(--loto);
    background-color: var(--loto);
    border-radius: 5px;
}
.buyer_btn span{
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.buyer_btn button a{
    color: white;
    text-decoration: none;
}
.buyer_header{
    background-color: #FFFAEF;
    width: 65%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* border: 6px solid #513425; */
    border-bottom: none;


}
.buyer_header button{
    border: 1px solid var(--loto);
    width: 25%;
    padding: 10px 0px;
    background-color: var(--loto);
    color: white;
    border-radius: 5px;
}
.buyer_header button img{
    width: 20px;
    height: 20px;
    object-fit: cover;
}
.buyer_ticket{
    border: 2px solid white;
    box-sizing: border-box;
    width: 100%;
    /* max-width: 100%; */
    

}
.buyer_ticket1{
    border: 6px solid black;
    width: 1000px;
}
.buyer_ticket button{
 padding: 30px 45px;
}

/* __________________Footer_app______________ */
.footer_app{
    width: 100%;
    background-color: #F4F4F4;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
}
.footer_app a{
    text-decoration: none;
    color: #764A34;
}
/* __________________Loto_Modal________________________ */
.modal{
    background-color:rgba(0, 0, 0, 0.837) ;
}
.modal-header,
.modal-body{
    background-color: #FFFAEF;
}
.modal-header button{
    background-color: #FFEFCA;
}
.modal-body h3 a{
    color: black;
    text-decoration: none;
}
.loto_modal{
    background-color: #FFEFCA;
}
body{
  position: relative;
}
/* ____________________Game________________________ */
.game_div span{
    width: 70px;
    height: 70px;
    border: 7px solid var(--loto);
    background-color: #FFFAEF;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: 700;
    margin: 10px;
}
.game_div span:nth-child(1){
    width: 100px;
    height: 100px;
    font-size: 45px;
}
.game_info{
    background-color: var(--loto);
}
/* ________________Win______________ */
.win_img_div{
    height: 300px;
}
.win_img_div img{
    width: 100%;
    height:100%;
    object-fit: cover;
}
.win_main_div{
    background-color: #FFFAEF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.win_main_text{
     height:500px;
    background-image: url('./img/Group.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.win_main_text h1{
    font-weight: 700;

}
/* ________________Operations_app_______ */
.operations_app{
    background-color: #FFFAEF;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.operations_app_h6 h6{
    border-bottom: 1px solid var(--loto);
    border-radius: 10px;
    padding: 4px 10px;
    font-weight: 700;
}
.operations_div{
    border-bottom: 1px solid var(--loto);
    /* padding: 0px 20px; */
    border-radius: 20px;
}
.operations_div p{
    font-weight: 700;
}
/* _____________Banner_____________ */

.carousel-indicators{
    top: 0 !important;
    /* position: relative; */
   
}
.carousel-indicators button{
    width: 20px !important;
    height: 20px !important;
    background-color: rgba(193, 188, 188, 0.86) !important;
    border-radius: 100% !important;  
}


.carousel_number{
    padding: 90px 0px 30px 0px;
     font-weight: 700;
}
/* ________________Lost_________________ */
.goBack{
  padding: 0px 0px 140px 0px;
  display: flex;
  justify-content: center;
}
.goBack button{
    border: 1px solid var(--loto);
    background-color: var(--loto);
    border-radius: 5px;

}
.goBack button a{
    color: white;
    text-decoration: none;
}
.lost_main_div{
    border: 1px solid rgba(0, 0, 0, 0.166);
    display: flex;
    flex-direction: column; 
    border-radius: 5px;
}
.lost_padding{
    padding: 0px 100px 0px 100px;
}
.loto_ticket{
    border: 1px solid black;
    width: 100%;
    height: 200px;
}
.carousel,
.goBack{
    background-color: #FFFAEF;
}
/* ________________MediaQuery___________________________ */

@media only screen and (max-width: 415px){
    .person_account_choose input{
        width: 200px;
    }
    .traj_info,
    .traj_success{
        padding: 0px 5px;
    }
    .home_page_div_register{
        width: 340px;
    }
    .register_back a{
        padding-left: 30px;
    }
    .loto_header_price span{
        font-size: 12px;
    }
    .loto_header_person span{
        font-size: 12px;
    }
    .person_account_price button{
        font-size: 10px;
    }
    .traj_time button {
        font-size: 12px;
    }
  
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 620px){
    .home_page_bigdiv_login,
    .person_account_bigdiv,
    .recovery_bigdiv,
.loto_home_page_bigdiv,
.home_page_bigdiv_register,
.balans_home_page_bigdiv
    {
       background-image: url('./img/Rectangle\ 19.png');
       
    }
 
    .balans_home_page_buttons  button{
        border: 1px solid white;
        border-radius: 3px;
        background-color: #FFFAEF;
    }
    .balans_home_page_buttons button a{
        color: black;
    }
   
    .show{
        display: block;
    }
    .noShow{
        display: none;
    }
    .loto_home_div{
        padding: 20px 1px;
    }
     .loto_header{
        padding: 0px 9px !important;
     }
     .loto_header_person{
        border-radius: 20px;
     }
     .logo_image{
        width: 160px;
     }
    .loto_home_page_bigdiv{
        padding: 10px 5px;
    }
    .traj_end_price img{
        width: 10px;
        height: 10px;
    }
    .traj_success_price ul li{
        width: 30px;
        height: 30px;
    }
    .traj_price h6{
        font-size: 12px;
    }
    .btn_app{
        width: 630px !important;
    }
    .person_account_bigdiv{
        padding: 0px 20px 100px 20px;

    }
 
    .person_account_choose{
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;
    }
   
    .refferal_big_div{
        padding: 0px 10px;
    }
    .refferal_big_div_forms{
        flex-direction: column;
    }
    .refferal_big_div_form1,
    .refferal_big_div_form2{
        width: 100%;
    }
    .balans_home_page_bigdiv{
        padding: 0px 12px 100px 12px;

    }
    .balans_home_page_buttons {
        width: 100%;
    }
    .balans_app{
        flex-direction: column;
    }
    .balans_div{
        width: 100%;
    }
    /* .balans_price{
       flex-direction: row;
       justify-content: space-between;
       width: 100%;
       padding: 20px 0px;
    }
    .balans_price div{
      margin: 15px 0px;
      border-radius: 5px;
    } */
    .buyer_header_app h4{
        font-size: 17px;
    }
    .buyer_header_app h6{
        font-size: 14px;
    }
    .buyer_header{
        width: 70%;
        /* border: 1px solid black; */
    }
    .buyer_header button{
        width: 10%;
        padding: 3px 0px;
        font-size: 10px;
        border-radius: 30px;
    }
    .buyer_header button img{
    width: 14px;
    height: 14px;
    }
    
   
    .game_div span{
        width: 60px;
        height: 60px;
        font-size: 25px;
        margin: 10px 4px;
    }
    .game_div span:nth-child(1){
        width: 80px;
        height: 80px;
        font-size: 35px;
    }
  .win_app{
    width:150px;
    height:150px;
    border-radius: 100%;
    background-color: #E5BB2A;
    display: flex;
    justify-content: center;
    padding: 22px;
  }
  .lost_padding{
    padding: 0px 20px 0px 20px;
}
.buyer_play_bigdiv{
    height: 108px !important;
    border: 3px solid #513425 !important;
}
.buyer_play_div1{
    height: 34px !important;
    /* border: 3px solid #513425 !important; */

}
/* .buyer_play_div1 ul li{
    height: 46px !important;
    font-size: 20px !important;
    border-radius: 4px !important;
   
} */
.buyer_play_div1 .ul .li{
    height: 34px !important;
    font-size: 16px !important;
    border-radius: 3px !important;
   
}
.buyer_avto{
    border-radius: 20px;
}

   
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px){
    .buyer_bigdiv{
        padding: 0px 10px;
    }
    .buyer_btns h4,
    .buyer_btn h4
    {
        font-size: 13px;
    }
    .buyer_header button{
        width: 25%;
        /* padding: 10px 0px; */
    }
   
    .buyer_btns button,
.buyer_btns span{
    width: 25px;
    height: 25px;
    margin: 0px 3px;

}
.buyer_btn button{
    width: 60px;
    border-radius: 20px;
}
.buyer_btn span{
    width: 60px;
    border-radius: 20px;

}
.loto_home_page_bigdiv{
    padding: 0px 20px 350px 20px;

}
 /* .loto_home_page_bigdiv{
        padding: 10px 5px;
    } */


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1100px){
.traj_div{
    width: 100%;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px){

}

.buyer_play_bigdiv{
    width: 100%;
    height: 270px;
    border: 2px solid white;
    /* margin-top: 20px; */
    background-color: white;
    border: 6px solid #513425;
    /* border-top: none; */
    border-radius: 10px;


}
.buyer_play_div1{
    width: 100%;
    height: 86px;
    /* border: 2px solid black; */
}
/* .buyer_play_div1 ul{
    display: flex;
    padding: 0px;

}
.buyer_play_div1 ul li{
    width: 14%;
    height: 86px;
    border: 1.5px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 37px;
    position: relative;
} */
/* .success{
    position: relative;
} */
.success::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    height: 80%;
    border-radius: 100%;
    background-color: #B47B51;

}
.discuss::before{
    content: '\f00d';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 40px;
   position: absolute;
   top: 50%;
   left: 50%;    
   transform: translate(-50%,-50%);
   color: red;
}
.buyer_app_balans button{
    background-color: #FFFAEF;
    border-radius: 15px;
    border: 1px solid #FFFAEF;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.buyer_play_div1 .ul{
    display: flex;
    padding: 0px;

}
.buyer_play_div1 .ul .li{
    width: 14%;
    height: 86px;
    border: 1.5px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 37px;
    position: relative;
    background-color: #FFFAEF;
}
.buyer_play_div1 .ul .li:disabled{
    background-color: rgb(221, 220, 220);
}
.loto_ticket_div{
    background-color: #FFFAEF;
    border-radius: 10px;
    padding: 0px 10px;
    margin-bottom: 60px;
}
.footer_buyer_app{
    width: 100%;
    background-color: var(--loto);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid white;
}
.footer_buyer_ticket{
    width: 60%;
    border-radius: 10px;
    background-color: var(--loto);
    color: white;
    border: 1px solid white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.footer_buyer_count button{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
   background-color: var(--loto);
   border: 1px solid white;
   color: white;
   font-size: 30px;
   text-align: center;  
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0px 5px;
}